*{
    padding: 0;
    margin: 0;
}
article{
    background-color: aquamarine;
}
nav{
    background-color: rgb(0, 0, 0);
}
.table-brown {
    background-color: #ffdbfb;
    color: rgb(0, 0, 0);
    text-align: center;
}
tr,td{
    text-align: justify;
    background-color: rgb(248, 255, 226);
}
.footer{
    background-color: rgb(248, 255, 226);
}

